@charset "utf-8";
.main {
	background: url(../images/body-bg.jpg) #e5f2f8;
	background-repeat: no-repeat;
	background-position: center top;
	margin: 10px auto auto;
	padding-top: 10px;
	width: 1002px;
	position: relative;
	overflow: visible;
}
.main-bottom {
	background: url(../images/body-bg-bottom.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0 auto;
	padding: 0px;
	width: 1002px;
	height:15px;
	clear:both;
}
/*-------------------- header --------------------*/
.header{ width:980px; margin:auto}
.header_left{ width:300px; margin:10px 0px; float:left;}
.header_right{ width:650px; margin-top:3px; float:right;}
.menu_bg{
	width:646px;
	background-image: url(../images/menu-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 7px 0px 0px 0px;
	height: 33px;
}
.menu{ margin:0px; padding:0px;}
.menu li{ margin:0px; padding:0px; list-style:none; width:129px; float:left; text-align:center}
.menu li a{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#FFF; text-decoration:none;padding:3px 0px 6px 0px; display:block;}
.menu li a:hover{
	color:#09C;
	text-decoration:underline;
	background-image: url(../images/menu-bg-hover.png);
	background-repeat: no-repeat;
	background-position: center top;
	display:block;
	padding:3px 0px 6px 0px;
}

.menu li a.active{
	color:#09C;
	text-decoration:underline;
	background-image: url(../images/menu-bg-hover.png);
	background-repeat: no-repeat;
	background-position: center top;
	display:block;
	padding:3px 0px 6px 0px;
}
/*--------------------------------- top search --------------------------------*/
.searh_bg{
	width:553px;
	background-image: url(../images/search-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: 30px;
	padding: 0px;
	height: 33px;
	float:right;
}
.search_title{
	width:60px;
	font-family: "Arial", Gadget, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #FFF;
	background-image: url(../images/aero.png);
	background-repeat: no-repeat;
	background-position: right center;
	float: left;
	height: 26px;
	padding:7px 0px 0px 10px;
}
.search_form{
	width:475px;
	font-family: "Arial", Gadget, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #FFF;
	float: left;
	height: 26px;
	padding:5px 0px 0px 7px;
}
.search_form1{
	width:220px;
	float: left;
	height: 26px;
	padding:0px;
	margin:0px;
}
.search_form2{
	width:200px;
	float: left;
	height: 26px;
	padding:0px;
	margin:0px;
}
.search-text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	background: transparent url(../images/search.png) !important;
	background-repeat: no-repeat !important;
	background-position: left top;
	margin: 0px;
	padding: 0px 3px;
	height: 22px;
	width: 109px;
	border:none !important;
	outline:none !important;
}
.search-text1{ line-height:22px;}
.Calender{ float:left; margin:0px 0px 0px 5px; position:absolute;}
.sub-btn{ width:50px; float:left; margin:0px; padding:0px;}
.sub{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #FFF !important;
	text-decoration: none;
	background: transparent url(../images/apply-btn.png) !important;
	background-repeat: no-repeat !important;
	background-position: center top;
	margin: 0px;
	padding: 1px 0px 5px 0px;
	height: 22px;
	width: 49px;
	border:none !important;
	outline:none !important;
}
/*---------------- end header css ----------------*/
/*---------------- graph ----------------*/
.graph-con{ width:980px; clear:both; margin:auto; padding:20px 0px;}
.graph-left{ width:220px; float:left; margin:0px; padding:0px;}
.left-title{
	background-image: url(../images/menu-title.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 4px 0px 0px 0px;
	height: 22px;
	width: 199px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
.graph-left1{
	width:219px;
	margin:0px;
	padding:0px;
	background-image: url(../images/left-tab1.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 9px;
}
.graph-left2{
	width:219px;
	margin:0px;
	padding:0px;
	background-image: url(../images/left-tab2.png);
	background-repeat: repeat-y;
	background-position: left top;
	min-height:240px;
}
/*---------------- graph left menu ------------------*/
.memu-ul{ float:left; text-align:left; margin:0px; padding:0px 0px 0px 20px;}
.memu-ul li{
	text-align:left;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-position: left center;
	margin: 0px;
	padding: 8px 0px 9px 20px;;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #698dbd;
	text-decoration: none;
	list-style:none;
}
.memu-ul li a{
	text-decoration:none;
	color: #698dbd;
}
/*---------------- graph css ------------------*/
.graph-left3{
	width:219px;
	margin:0px;
	padding:0px;
	background-image: url(../images/left-tab3.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 12px;
}
.graph-right{ width:745px; float:right; margin:0px; padding:0px;}
.graph-right1{
	width:745px;
	margin:0px;
	padding:0px;
	background-image: url(../images/graph1.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 3px;
}
.graph-right2{
	width:745px;
	margin:0px;
	/*padding:2px 3px;*/
	background-image: url(../images/graph2.png);
	background-repeat: repeat-y;
	background-position: left top;
	min-height:254px;
}
.graph-right2_visitor{
	width:745px;
	margin:0px;
	/*padding:2px 3px;*/
	background-image: url(../images/graph2.png);
	background-repeat: repeat-y;
	background-position: left top;
	min-height:254px;
}
.graph-right3{
	width:745px;
	margin:0px;
	padding:0px;
	background-image: url(../images/graph3.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 4px;
}
/*---------------- end graph ------------------*/
/*------------------ content ------------------*/
.mid-graph{
	width:980px;
	clear:both;
	margin:auto;
	background-image: url(../images/map-mid.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 33px;
	padding: 5px 0px 0px 0px;
}
.text{
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	/*color: #F90;*/
	margin: 0px;
	padding: 0px;
}
.cont{ width:980px; clear:both; margin:auto; padding:20px 0px;}
/*---------------- end content ----------------*/
/*-------------------- table -----------------------*/
.t-top-left{
	background-image: url(../images/table-top1.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 33px;
	width: 16px;
}
.t-top-left-next{
	background-image: url(../images/table-top2.png);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 33px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #346db9;
	text-align:center;
}
.t-top-right{
	background-image: url(../images/table-top3.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	height: 33px;
	width: 16px;
}
.t-mid-left{
	background-image: url(../images/table-mid1.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 27px;
	width: 16px;
}
.t-mid-left-next{
	background-image: url(../images/table-mid2.png);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 27px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #496891;
	text-align:center;	
}
.t-mid-right{
	background-image: url(../images/table-mid3.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	height: 27px;
	width: 16px;
}
.t-mid-left1{
	background-image: url(../images/table-mid01.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 27px;
	width: 16px;
}
.t-mid-left-next1{
	background-image: url(../images/table-mid02.png);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 27px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #496891;
	text-align:center;
}
.t-mid-right1{
	background-image: url(../images/table-mid03.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	height: 27px;
	width: 16px;
}
.t-bot-left{
	background-image: url(../images/table-bot1.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 28px;
	width: 16px;
}
.t-bot-left-next{
	background-image: url(../images/table-bot2.png);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #496891;
	text-align:center;
}
.t-bot-right{
	background-image: url(../images/table-bot3.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	height: 28px;
	width: 16px;
}
.t-bot-left1{
	background-image: url(../images/table-top01.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 30px;
	width: 16px;
}
.t-bot-left-next1{
	background-image: url(../images/table-top02.png);
	background-repeat: repeat-x;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #496891;
	text-align:center;
}
.t-bot-right1{
	background-image: url(../images/table-top03.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0px;
	padding: 0px;
	height: 30px;
	width: 16px;
}
.more-d{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
	background-image: url(../images/more-de.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 3px 0px 0px 0px;
	height: 18px;
	width: 75px;
	display:block;
	text-align:center;
}
.more-d:hover{
	color: #FFF;
	text-decoration: none;
	background-image: url(../images/more-de-ho.png);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 3px 0px 0px 0px;
	height: 18px;
	width: 75px;
	display:block;
	text-align:center;
}
.link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	/*color: #F90;*/
	text-decoration:none;
	text-align:left;
	float:left
	
}
	
.align{ text-align:left; float:left;}
.select{ width:240px; float:left; font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #346db9;
	text-align:left
}
.Select_bg{
	background:transparent url(../images/select-bg.png); background-position:left top; background-repeat:no-repeat; width:60px; height:24px; padding:3px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#69F; border:none; outline:none;
}	
.select-r{ width:500px; float:left; text-align:center}
/*--------------------------------------------paginesion-------------------------------------------*/
.paginesion{ width:auto; float:right; font-family: Arial, Helvetica, sans-serif; margin:0px;
	font-size: 13px;
	font-weight: normal;
	color: #346db9;
	text-align:right;
}
.next-pre{
	float:left;
	margin:2px;
	display:block;
	padding:3px;
	text-decoration:none;
	/*color:#FEAE36;*/
}
.page{padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#69F; text-decoration:none; margin:3px; text-align:center;float:left;
}
.page01{background:transparent url(../images/page01.png); background-position:left top; background-repeat:no-repeat; width:5px; height:22px; padding:0px; display:block; text-decoration:none; margin:0px; text-align:center;float:left;
}
.page02{background:transparent url(../images/page02.png); background-position:left top; background-repeat:repeat-x; height:18px; padding:3px; display:block; text-decoration:none; margin:0px; text-align:center;float:left;
}
.page03{background:transparent url(../images/page03.png); background-position:left top; background-repeat:no-repeat; width:5px; height:22px; padding:0px; display:block; text-decoration:none; margin:0px; text-align:center;float:left;
}
.page:hover .page01{background:transparent url(../images/page_hover1.png); background-position:left top; background-repeat:no-repeat;}
.page:hover .page02{background:transparent url(../images/page_hover2.png); background-position:left top; background-repeat:repeat-x; color:#FFF;}
.page:hover .page03{background:transparent url(../images/page_hover3.png); background-position:left top; background-repeat:no-repeat;}

.page-select{ margin:3px; float:left;}
.page-select .page01{background:transparent url(../images/page_hover1.png); background-position:left top; background-repeat:no-repeat;}
.page-select .page02{background:transparent url(../images/page_hover2.png); background-position:left top; background-repeat:repeat-x; color:#FFF;}
.page-select .page03{background:transparent url(../images/page_hover3.png); background-position:left top; background-repeat:no-repeat;}
.page_span{width:20px; height:18px; padding:3px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#69F; display:block; text-decoration:none; margin:3px; text-align:center;float:left;}

.red-text{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#F00;}
.green-text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3C0;
}
/*--------------------------------------------paginesion-------------------------------------------*/	
/*------------------ end table ---------------------*/

.visitor{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #09C;
	text-decoration:none;
	text-align:left;
}

.align_left{
	text-align: left !important;
}

.clear{
	clear: both;
}

.date-next{
	margin:0px;
	padding-top:6px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #346db9;
	text-align:right;
	clear:both;
}

.sno_text{
	float:left;
	font-size: 14px;
}
.footer-menu{ width:953px; margin-left:20px; padding:5px 10px 0px 7px; text-align:left; background-image: url("../images/footer-bg.png"); background-repeat:no-repeat;}
.footer-menu ul{ margin:0px; padding:0px;}
.footer-menu li{ width:120px !important;  margin-right:10px; padding:2px 0px; list-style:none; display:inline-block; text-align:center;}
.footer-menu li:hover{ margin-right:10px; padding:2px 0px; text-align:center; list-style:none; display:inline-block; background-image: url("../images/footer-bg-hover.png");
	background-repeat:no-repeat;}

.footer-menu li.current{ width:120px !important; margin-right:10px; padding:2px 0px; text-align:center; list-style:none; display:inline-block; background-image: url("../images/footer-bg-hover.png");
	background-repeat:no-repeat;}

.footer-menu li.current a{ 	color:#0099CC;
	text-decoration:underline;}
.footer-menu li.current a:hover{ 	color:#0099CC;
	text-decoration:underline;}

.footer-menu li a{ color:#fff; text-decoration:none; padding:5px;}
.footer-menu li a:hover{
	color:#346DB9;
	text-decoration:underline;
	
}